
.avatar-small {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 4rem;
  height: 2rem;
}

.outer {
  overflow: hidden;
  position: relative;
}

.nav {
  position: absolute;
  z-index: 11;
  right: -7rem;
  top: 0;
  width: 7rem;
  height: 100%;
  background: #555;
  /* overflow-y: auto; */
  position: fixed;
}
.nav {
  transition: right linear 3s;
}
