
.avatar-small {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 4rem;
  height: 2rem;
}

.nav {
  /* position: absolute; */
  z-index: 11;
  right: -7rem;
  top: 0;
  width: 7rem;
  height: 50%;
  background: #555;
  position: fixed;
  transition: right linear 3s;
}
